@media only screen and (max-width: 1240px) {
    .container {
        padding: 0 54px;
    }
}

@media only screen and (max-width: 1024px) {
    .txt-title {
        font-size: 80px;
    }

    .container {
        padding: 0 34px;
    }

    /* классы для карточек */
    .card__item {
        width: calc(50% - 20px);
    }

    /* классы для подвала */
    .footer__top-container {
        flex-direction: column;
    }

    .footer_part {
        width: 100%;
        justify-content: center;
        padding: 70px 0 30px;
    }

    .img_button-right {
        position: initial;
    }

    .footer__top::after {
        content: "";
        all: initial;
    }

    .form__footer {
        padding-left: initial;
        width: 100%;
    }

    .img_button-left {
        padding-right: initial;
    }
}

@media only screen and (max-width: 768px) {


    .txt-title {
        font-size: 60px;
    }

    .header__nav {
        display: none;
    }

    .container {
        padding: 0 14px;
    }

    /* классы для карточек */
    .card__item {
        width: 100%;
    }

    .footer__list {
        gap: 10px;
    }

    .footer__bottom-container {
        flex-direction: column;
        gap: 20px;
    }

    .form__footer-label-top {
        flex-direction: column;
    }

    .form__footer-label {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .txt-title {
        font-size: 20px;
    }

    .footer_feedback .txt-f14 {
        font-size: 10px;
    }
}