.txt-title {
    font-family: Jeko-Regular;
    font-size: 100px;
    letter-spacing: 5px;
    font-weight: 100;
    font-style: normal;
}

.txt-f14 {
    font-family: Jeko-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.txt-f10 {
    font-family: Jeko-Regular;
    font-size: 10px;
    font-weight: 400;
}

.txt-f11 {
    font-family: Jeko-Regular;
    font-size: 11px;
    font-weight: 400;
}

.txt-f24 {
    font-family: Jeko-Regular;
    font-size: 24px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.1em;
}

body {
    background-color: #E6EAEF;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.footer__top-container {
    display: flex;
}

.hero__buttons {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;

}

.button {
    font-size: 12px;
    padding: 0 24px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 15px;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section__hero {
    margin-top: 165px;
}

.hero__txt {
    padding-top: 50px;
}

.section__cards {
    margin-top: 105px;
}

.main__header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 53px;
    border-bottom: 1px solid #0000001F;
}

.header__list {
    display: flex;
    gap: 70px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    row-gap: 80px;
}

.card__item {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
}

.card__item-title {
    margin-top: 32px;
}

.card__item-text {
    margin-top: 13px;
}

.card__item-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 19px;
}

.button-tag {
    height: 22px;
    border: 1px solid black;
    background-color: initial;
}

/*подвал*/

.footer__top {
    display: flex;
    margin-top: 45px;
    border-top: 1px solid black;
    position: relative;
}

.footer__top::after {
    content: "";
    border-right: 1px solid black;
    position: absolute;
    height: 135%;
    left: 50%;
    top: 0;
}

.left__footer {
    flex-direction: column;
    overflow: hidden;
}

.footer_feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}

footer {
    margin-top: 230px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 53px;
    border-top: 1px solid black;
}

.footer__bottom-container {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    gap: 70px;
}

.footer__list-item {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 36px;
    padding: 0 20px;
    height: 30px;
}

.footer_part {
    display: flex;
    width: 50%;
    padding: 30px 0;
}

.footer__social-icon {
    max-height: 20px;
}

.button-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 11px 8px;
}

.motin_design {
    margin-top: 42px;
    line-height: 150px;
    font-family: Jeko-Extra-Bolt;
    font-size: 127px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 1500px;
}

.img_button {
    padding-top: 82px;
    align-self: self-end;
}

.img_button-left {
    padding-right: 36px;
}

.img_button-right {
    position: absolute;
}

.form__footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    padding-left: 25%;
    position: relative;
}

.form__footer-label-top {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form__footer-label.form__footer-label-bottom {
    width: 100%;
    padding-top: 40px;
}

.form__footer-label {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 50%;
}

.logo__footer {
    max-width: 100px;
}

@media only screen and (max-width: 1240px) {
    .container {
        padding: 0 54px;
    }
}

@media only screen and (max-width: 1024px) {
    .txt-title {
        font-size: 80px;
    }

    .container {
        padding: 0 34px;
    }

    /* классы для карточек */
    .card__item {
        width: calc(50% - 20px);
    }

    /* классы для подвала */
    .footer__top-container {
        flex-direction: column;
    }

    .footer_part {
        width: 100%;
        justify-content: center;
        padding: 70px 0 30px;
    }

    .img_button-right {
        position: initial;
    }

    .footer__top::after {
        content: "";
        all: initial;
    }

    .form__footer {
        padding-left: initial;
        width: 100%;
    }

    .img_button-left {
        padding-right: initial;
    }
}

@media only screen and (max-width: 768px) {
    .txt-title {
        font-size: 60px;
    }

    .header__nav {
        display: none;
    }

    .container {
        padding: 0 14px;
    }

    /* классы для карточек */
    .card__item {
        width: 100%;
    }

    .footer__list {
        gap: 10px;
    }

    .footer__bottom-container {
        flex-direction: column;
        gap: 20px;
    }
}